body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    }
    .navbar-brand {
    font-weight: bolder;
    font-size: 2.0rem;
    }
    .button{
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 6px;
        padding: 8px 20px;
        font-size: 0.9rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    /* Body */
    .main-content {
        padding-bottom: 86px; /* Adjust the value to the height of your footer */
      }
/*Loading */

.loader {
  width: 100px;
  height: 100px;
  position: relative;
}

.blob {
  width: 50px;
  height: 50px;
  background: linear-gradient(135deg, #8EC5FC, #E0C3FC);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px rgba(142, 197, 252, 0.5);
  animation: morph 5s linear infinite;
}

@keyframes morph {
  0%, 100% {
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  33% {
    border-radius: 30% 70% 70% 30% / 30% 29% 71% 70%;
    transform: translate(-50%, -50%) rotate(90deg) scale(1.2); 
  }

  66% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transform: translate(-50%, -50%) rotate(180deg) scale(0.8);
  }
}
/*No post */
.no_post {
  display: flex; /* Use flexbox to center the content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height for vertical centering */
}

.img_no_post {
  max-width: 100%; /* Ensure the image is responsive */
  height: 300px; /* Maintain aspect ratio */
  width: 300px; /* Set a fixed width, adjust as needed */
}
    /*Footer*/
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #f8f9fa; /* Optional background color */
        z-index: 1;
        padding: 1rem 0; /* Footer padding */
        color: black;
      }
      
   
      
